<p>
	<span class="blue">推荐选考：</span>
	<span class="list">
		<em class="recommendList"><%= recommend %></em>
	</span>
</p>
<div class="btnRow">
	<a href="/library/subject?keys=<%= keys %>" class="btn btn-primary" target="_blank">查查看，能选什么专业</a>
</div>