<% if (questions.length == 0) { %>
	<li class="no_transList"><i class="noListIcon"></i><em class="vm">暂无记录</em></li>
<% }else{ %>
<% for (var i = 0; i < questions.length; i++) { %>
<li class="q-school">
			<h3 class="blue">浙江大学</h3>
			<div class="s-faq">
				<div class="q media">
					<span class="fl blue">问：</span>
					<div class="media-body">
						<p>老师好，我是浙江考生，成绩600，想问下填什么专业好？</p>
						<div class="badges">
							<span class="badge">浙江考生</span><span class="badge">2015</span>
						</div>
					</div>
				</div>
				<div class="a media">
					<span class="fl orange">答：</span>
					<div class="media-body">
						软件工程
					</div>
				</div>
			</div>

			<div class="s-faq">
				<div class="q media">
					<span class="fl blue">问：</span>
					<div class="media-body">
						<p>老师好，我是浙江考生，成绩600，想问下填什么专业好？老师好，我是浙江考生，成绩600，想问下填什么专业好？老师好，我是浙江考生，成绩600，想问下填什么专业好？老师好，我是浙江考生，成绩600，想问下填什么专业好？</p>
						<div class="badges">
							<span class="badge">浙江考生</span><span class="badge">2015</span>
						</div>
					</div>
				</div>
				<div class="a media">
					<span class="fl orange">答：</span>
					<div class="media-body">
						软件工程
					</div>
				</div>
			</div>

		</li>
<% }} %>