<div class="browser_nav" id="browser_nav">
	<div class="browser_nav_room rel">
		<span class="txt">检测到您的浏览器版本过低，建议您使用如下浏览器</span>
		<a href="https://www.google.com/intl/zh-CN/chrome/browser/"target="_blank"class="b_chrome blue">Google Chrome</a>
		<a href="https://www.mozilla.org/zh-CN/firefox/new/?utm_source=firefox-com&utm_medium=referral"target="_blank"class="b_firefox blue">Firefox</a>
		<a href="http://chrome.360.cn/"target="_blank"class="b_360 blue">360极速</a>
		达到页面最佳效果！
		<a href="javascript:;" class="nav_close" id="nav_close">关闭</a>
	</div>
</div>