@import '../../../assets/less/mod/mixin.less';

.mr32{margin-right: 32px;}
.upRow{margin-bottom: 24px;}

.icon-close{
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 19px;
	background:url(../img/closeIcon.png);
	position: relative;
	z-index: 2;
}
.collegeName{
	margin-right: 20px;
}
.actionContent{
	margin-bottomp: 32px;
	.btn{
		font-size: 18px;
	}
}
.wux-divider{
    height: 1px;
    border-top: 1px solid #ddd;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 1;
    color: #777;
}
.wux-divider span{
    position: relative;
    top: -8px;
    background-color: #fff;
    padding: 0 20px;
}

.downRow{
	.btn{
		border-radius: 3px;
	}
}

.panelLists{
	margin-top: 32px;
	margin-right: -25px;
}

.s-major .col2 .selectWrap{
	width: 312px;
}

.s-major .col2 .city label{
	position: relative;
	input{
		.input-hidden()
	}
	em{
	 	max-width: none;
	}
}

.no_wishList{
	font-size: 18px;
	color: #999;
	padding-left: 24px;
}

