<div class="modalCntWrap taoModal g9 modalForm">
 <h3 class="clearfix"><a href="javascript:;" class="icons btn-close fr"></a><span class="fl">提问</span></h3>
 <form class="modalSubCnt" id="qForm" onsubmit="return false;" autocomplete="off">

<div class="row clearfix">
  <label for="collegeName" class="control-label column col1 fl">
    <em class="vm">当前学校：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap">
      <input type="text" class="input form-control" id="collegeName" name="collegeName" value="<%= collegeName %>" readonly required>
    </div>
  </div>
</div>

<div class="row clearfix inline">
  <label for="collegeName" class="control-label column col1 fl">
    <em class="vm">当前学校：</em></label>
  <div class="col2 textWrap rel">
   <textarea class="form-control" placeholder="请填写预约内容" name="q" rows="8" cols="6" required></textarea>
  </div>
</div>

<div class="footerCnt">
  <div class="row btnRow tc">
    <button type="submit" class="btn btn-positive btn-form" id="verifyBtn">提&nbsp;交</button>
  </div>

</div>

</form>
</div>