.majorWrap{
	.pad{
		margin-right: -60px;
	}
	.bg{
		padding:14px 20px 0;
		.row{
			margin-right: 60px;
			margin-bottom: 14px;
			label{
				font-size: 14px;
    			color: #666;
			}
		}
	}
	.selectWrap{
		width: 180px;
		.form-control {
		    width: 100%;
		}
	}
}

.fieldRow{
	font-size: 18px;
	color: #999;
	line-height: 1.5;
}