.breadcrumb li{width:25%;}
.formWrap{background-color: #fff;padding:32px 24px;margin-bottom: 30px;}

.formWrap .btn-positive{margin-right: 30px;}

.selectContent .col1,.selectContent .col2{margin-right: 80px;}
.selectContent h4{color:#333;font-size: 16px;font-weight: normal;margin-bottom: 12px;}
.selectWrap{width:160px;border:1px solid #ccc;padding:5px 0;cursor: pointer;height: 300px;overflow: scroll;position: relative;}
.selectWrap > ul{position: absolute;left:0;top:0;width:100%;}
.selectWrap li{color: #333;line-height: 24px;font-size: 14px;padding-left: 10px;
	&:hover{background-color: #ededed;}
}