 <% if (colleges.length == 0 && page == 1) { %>
	<li class="no_transList"><i class="noListIcon"></i><em class="vm">暂时搜索不到数据</em></li>
<% }else{ %>
	<% for (var i = 0; i < colleges.length; i++) { %>
	 	<li class="schoolList" code="<%= colleges[i].collegeId %>" name="<%= colleges[i].collegeName %>"><em class="icon-check"></em><em class="vm"><%= colleges[i].collegeName %></em></li>
 <% }} %>