<% if (list.length == 0 && page == 1) { %>
	<li class="no_transList"><i class="noListIcon"></i><em class="vm">暂无记录</em></li>
<% }else{ %>	
<% for (var i = 0; i < list.length; i++) { %>
<li class="clearfix">
	<div class="media">
	<span class="fl imgWrap mr10 dib">
		<img src="<%= list[i].newsIconUrl %>" class="responsive" />
	</span>
	<div className="media-body">
		<h4 class="name"><%= list[i].newsTitle %></h4>
		<div class="detail">	</div>
	</div>
	<div class="detailCnt clearfix">
		<span class="moment">08-29</span>
	</div>
	</div>
</li>
<% }} %>