<% if (majors.length == 0) { %>
	<li class="no_transList"><i class="noListIcon"></i><em class="vm">暂无记录</em></li>
<% }else{ %>	
<% for (var i = 0; i < majors.length; i++) { %>
<li class="clearfix subMajorList">
	<div class="majorBtnRow">
		<a target="_blank" href="/library/major/<%= majors[i].majorId %>" data-id="<%= majors[i].majorId %>" class="btn btn-primary btn-mid"><%= majors[i].majorName %></a>
	</div>
</li>
<% }} %>