<div class="modalCntWrap g9 modalForm sSchoolModal">
 <h3 class="clearfix"><a href="javascript:;" class="icons btn-close fr"></a><span class="fl">选择大学</span></h3>
 <form class="modalSubCnt" id="sSchoolForm" onsubmit="return false;">
  
  <div class="s-Content">
    <div class="input-group clearfix rel">
      <span class="input-group-btn fr" id="searchBtn">
        <button class="btn btn-default btn-search" type="button" id="sBtn">
          <i class="iconList icon-search"></i>
        </button>
      </span>
      <div class="inputWrap">
         <input type="text" class="form-control fl" placeholder="请输入关键字搜索" id="wd">
      </div>
     
    </div>

    <ul class="schoolLists">
     
    </ul>

</div>

</form>
</div>