.couponSelectWrap{
	width: 200px;
	margin:24px auto 20px;
	position: relative;
	.beautify-select .trigger{
		border-color: #a0a0a0;
		background-color: #f3f3f3;
		text-align: left;
	}
}

.beautify-select .trigger .caret {
    border-width: 5px;
    position: absolute;
    top: 15px;
    right: 9px;
}