.btn {position: relative;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1;color: #333;text-align: center;vertical-align: top;white-space: nowrap;
  cursor: pointer;background-color: white; border: 1px solid #ccc; line-height: 1.42857143;}
.btn-group,.btn-group-vertical {position: relative;display: inline-block;vertical-align: middle}
.input-group{
	.input-group-btn{display: inline-block;margin-left: -1px;}
}

.btn-positive { color: #fff;border: 1px solid #f4b64f;background-color: #f4b64f;}
.btn-negative {color: #fff;border: 1px solid #999;background-color: #999;cursor:default;}
.btn-primary {color: #fff;border: 1px solid #61c0e2;background-color: #61c0e2;border-radius: 3px;}
.btn-default {color: #333;background-color: #fff;border-color: #ccc;}
.btn-outlined {background-color: transparent;}
.btn-outlined.btn-primary {color: #61c0e2;}
.btn-outlined.btn-positive {color: #f4b64f;}
.btn-positive:hover{color: #fff;border: 1px solid #E3A94F;background-color: #E3A94F;}
.btn-negative:hover, .btn-negative.hover { color: #fff;border: 1px solid #999;background-color: #999;}
.btn-primary:hover, .btn-primary.hover {color: #fff;border: 1px solid #46a4c5;background-color: #46a4c5;}
.btn-default:hover{color: #333;background-color: #ebebeb;border-color: #adadad;}
.btn:disabled,.btn.disabled,.btn:disabled:hover,.btn.disabled:hover{color:#fff;background-color:#ccc;border-color:#ccc;}
.disabled:active,.disabled:hover{background-color: #ccc;border-color: #ccc;}

.btn-medium { padding: 6px 32px;font-size: 16px;}
.btn-form { width:320px;line-height:40px;font-size: 20px;border-radius: 0;padding-top:0;padding-bottom: 0;}
.btn-block {padding:10px 0;font-size: 24px;display: block;width:100%;border-radius: 4px;}
.bd{border-radius: 4px;}

.btn-loading{min-width:120px;line-height: 32px;padding:0;font-size: 16px;}
.btn .loadingTxt {display: none}
.btn .subTxt,.btn.loading .loadingTxt {display: inline-block}
.btn.loading .loadingTxt i {display: inline-block;}
.btn.loading .subTxt {display: none;margin-left: 4px}
.btn.loading  .loadingSubTxt{margin-left: 4px;display: inline-block;}
.btn.loading-all .subTxt{display: none;}
.btn .loading-all{display: none;    font-size: 14px;}
.btn.loading-all .loading-all{display: inline-block;}
.btnLoadingWrap{margin-top: 32px;}
.loadingIcon {
    display: inline-block;width: 18px;height: 18px;
    background-image: url("../../img/loading.png");
    background-repeat: no-repeat;
    vertical-align: middle; 
    animation: loading 0.8s linear infinite;
}
@keyframes loading {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg); }
}