<div class="modalCntWrap g9 favMajorModal">
 <h3 class="clearfix">
 <a href="javascript:;" class="icons btn-close fr"></a>
 <span class="fl"><%= collegeName %></span>
</h3>

<div class="majorListWrap">
  <div class="majorList">
  	
  </div>
</div>

</div>