<div class="modalCntWrap g9 modalForm">
 <h3 class="clearfix"><a href="javascript:;" class="icons btn-close fr"></a><span class="fl">专业选择</span></h3>
 <form action="javascript:;" onsubmit="return false" autocomplete="off" id="majorForm" class="rel">
            
    <div class="selectContent s-major clearfix" id="majorContainer">
      <div class="column col1 fl">
        <h4>专业门类</h4>
        <div class="selectWrap">
          <ul class="prov">
            
          </ul>
        </div>
      </div>
      <div class="column col2 fl">
        <h4>专业</h4>
        <div class="selectWrap">
          <ul class="city">
        </ul>
        </div>
      </div>
      <div class="column col3 fl">
        <h4>已选</h4>
        <ul class="tagsWrap clearfix" id="tagsWrap">
        </ul>
      </div>

    </div>
            
    <div class="footerCnt tc">
      <p id="errTxt" class="errTxt"></p>
      <div class="row btnRow">
            <button type="submit" class="btn btn-positive btn-form" id="verifyBtn">
                <em class="subTxt">下一步</em>
            </button>
          </div>
    </div>

  </form>
</div>