 <% if (colleges.length == 0) { %>
	<li class="no_transList"><i class="noListIcon"></i><em class="vm">暂时搜索不到数据</em></li>
<% }else{ %>
	<% for (var i = 0; i < colleges.length; i++) { %>
	 	<li class="schoolList" code="<%= colleges[i].code %>" name="<%= colleges[i].name %>"><em class="icon-check"></em><em class="vm"><%= colleges[i].name %></em></li>
 <% }} %>