<div class="modalCntWrap txtModal taoModal g3">
 <h3 class="clearfix"><a href="javascript:;" class="icons btn-close fr"></a><span class="fl">功能说明</span></h3>
 	<div class="modalSubCnt">
	 	<div class="txtWrap">
			<p class="mb20">浙江省高考志愿智能评估系统由浙江日报携手浙江省高考志愿填报专家为浙江高考学生独家开发，考生只需要输入个人高考志愿的填报信息，系统就可以利用后台专业的数据库，通过科学设计的匹配、筛选和运算，生成考生个性化的高考志愿填报方案。 本系统数据库来自教育部和浙江省教育考试院权威发布的数据，按照浙江省平行志愿的填报原则，根据专家团的经验，按照冲、平、保的原则，对考生的高考志愿进行评估。 但每年的高考录取会受各种不同因素的影响，本系统的高考志愿评估仅供考生参考，考生可结合自身情况对报考院校做深入了解后再慎重填报。 高考志愿智能设计系统对使用者的录取结果不做保证录取的承诺，不承担任何责任。 版权所有：浙报传媒控股集团</p>
			<div class="txtList">
				<h5>什么是高考志愿智能评估系统？</h5>
				<p>答：高考智能评估系统帮助考生遍览近3年的高考录取数据库，根据考生输入志愿意向，按照志愿填报专家团队根据志愿填报规则设计的公式进行运算后进行精准匹配，对考生志愿的学校和专业分别给予风险等级评估，以帮助考生规避志愿填报风险。 如果考生发现风险等级评估全部在低等级或高等级时，建议考生试用“高考志愿智能设计系统”，为考生设计梯度合理的志愿填报方案。</p>
			</div>

			<div class="txtList">
				<h5>志愿评估结果可以看到什么？</h5>
				<p>答：经过高考志愿智能评估系统运算后，考生的志愿填报方案，每个院校志愿和专业志愿后都会给出不同的风险等级建议，包括建议志愿冲刺、建议志愿保底、建议志愿平稳，考生还可看到各院校近3年投档分数线和各专业上年录取平均分。</p>
			</div>

			<div class="txtList">
				<h5>为什么选择这个系统？</h5>
				<p>答：浙江省高考志愿智能设计系统是浙江日报报业集团在连续10年为全省考生提供高考志愿填报的权威指南——《浙江省高校报考指南》的基础上，携手浙江省教育考试院以及浙江省高校招生办的相关志愿填报专家研发推出的。 我们秉承《指南》实用、权威、有效的原则和精益求精的态度，使用权威准确的数据库，搭建科学正确的志愿填报运算逻辑，是浙江省考生和家长最值得信赖的高考志愿填报参考系统。 我们不做保证和承诺，因为我们深知高考是人生成长的重要转折点，我们慎之又慎，也请考生和家长选择权威，选择值得信赖的参考指导工具。</p>
			</div>
		</div>
    </div>
</div>











