<div class="modalCntWrap planModal taoModal g9 modalForm">
 <h3 class="clearfix"><a href="javascript:;" class="icons btn-close fr"></a><span class="fl">智能志愿定制</span></h3>
 <form class="modalSubCnt" id="planForm" onsubmit="return false;" autocomplete="off">

<div class="inputRows">
 <div class="row clearfix">
    <div class="inputWrap inputTextWrap">
      <span class="iconWrap"><i class="icon-location icon-fenshu"></i></span>
      <input type="text" class="input form-control" id="score" name="score" 
      min="0" max="750" placeholder="请输入高考/模拟考分数" required autocomplete="off" value="<%= score ? score : '' %>">
    </div>
    <span class="p-error">高考分数为0-750之间，请重新填写</span>
    <span class="p-error-empty">分数不能为空</span>
 </div>

 <div class="row clearfix">
    <div class="inputWrap inputTextWrap">
      <span class="iconWrap"><i class="icon-location icon-rank"></i></span>
      <input type="number" class="input form-control" id="rank" name="rank" placeholder="请输入位次号" autocomplete="off" value="<%= rank ? rank : '' %>">
    </div>
 </div>
</div>

<div class='row subjectListRow'>
  <div class='g3 option-label'>选考科目（选择3门）</div>
  <div class="fieldWrap"> 
    <label for="subject_1" class="label_check inline">
    <em class="icon-radio"></em>
    <input type="checkbox" class="input form-control" id="subject_1" name="subject" value="1" required n="物理" >
    <em class="vm">物理</em>
    </label>

    <label for="subject_2"  class="label_check inline">
    <em class="icon-radio"></em>
    <input type="checkbox" class="input form-control" id="subject_2" name="subject" value="2" n="化学" required>
    <em class="vm">化学</em>
    </label>

    <label for="subject_3" class="label_check inline">
    <em class="icon-radio"></em>
    <input type="checkbox" class="input form-control" id="subject_3" name="subject" value="3" n="生物" required>
    <em class="vm">生物</em>
    </label>

    <label for="subject_4"  class="label_check inline">
    <em class="icon-radio"></em>
    <input type="checkbox" class="input form-control" id="subject_4" name="subject" value="4" n="技术" required>
    <em class="vm">技术</em>
    </label>

    <label for="subject_5" class="label_check inline">
    <em class="icon-radio"></em>
    <input type="checkbox" class="input form-control" id="subject_5" name="subject" value="5" n="政治" required>
    <em class="vm">政治</em>
    </label>

    <label for="subject_6"  class="label_check inline">
    <em class="icon-radio"></em>
    <input type="checkbox" class="input form-control" id="subject_6" name="subject" value="6" n="历史" required>
    <em class="vm">历史</em>
    </label>

    <label for="subject_7"  class="label_check inline">
    <em class="icon-radio"></em>
    <input type="checkbox" class="input form-control" id="subject_7" name="subject" value="7" n="地理" required>
    <em class="vm">地理</em>
    </label>
  </div>
  <div class="errInfo">
    <span class="p-error">请选择3门选考科目</span>
    <span class="p-error-empty">选考科目不能为空</span>
  </div>
</div>

 <div class="footerCnt planCnt">
   <p id="errTxt" class="errTxt"></p>
   <div class="row btnRow">
    <a class="btn btn-default btn-form btn-close">
        <em class="subTxt">取消</em></a>
     <button type="submit" class="btn btn-primary btn-form">
     		<em class="subTxt">确认</em></button>
   </div>
 </div>
</form>
</div>