<div class="modalCntWrap txtModal taoModal g3">
 <h3 class="clearfix"><a href="javascript:;" class="icons btn-close fr"></a><span class="fl">常见问题</span></h3>
 	<div class="modalSubCnt">
		<div class="txtWrap">
			<div class="txtList">
				<h5>于风险评估不建议的学校是否就不能填报？</h5>
				<p>答：风险评估是基于以往的数据分析给予的评估，但每年高考情况都有各种影响因素，比如招生人数、报考人数等，所以即使风险评估结果不建议报考该校或该专业，但考生还是想冲刺一下，建议考生对该校进行审慎了解后，可以填到第一志愿的序位作为冲刺志愿，因为浙江采取平行志愿的录取方式，对考生录取影响不大；对于想冲刺的专业则建议填报后，选择服从专业调剂，以便减小录取风险。</p>
			</div>

			<div class="txtList">
				<h5>是否所有考生都可以使用本系统？</h5>
				<p>答：本系统是针对浙江省考生设计的，适用范围是浙江省的应届高考学生，而且不包括艺术类考生和报考提前批次的考生。</p>
			</div>

			<div class="txtList">
				<h5>网站版和手机版有不同吗？</h5>
				<p>答：网站版和手机版在使用上基本相同，手机随身携带随时查询更便捷，两处的查询步骤和生成的评估方案是完全一致的，可以通用。</p>
			</div>

			<div class="txtList">
				<h5>是否可以多次使用系统评估方案？</h5>
				<p>答：本系统对于同一考生可以重复多次使用，在历史方案里我们为考生保存了多次评估生成的方案。</p>
			</div>
		</div>
	</div>
</div>








