<div class="modalCntWrap taoModal g9 modalForm">
 <h3 class="clearfix"><a href="javascript:;" class="icons btn-close fr"></a><span class="fl">预约申请</span></h3>
 <form class="modalSubCnt" id="bookForm" onsubmit="return false;" autocomplete="off">

<div class="row clearfix">
  <label for="province" class="control-label column col1 fl">
    <i class="icon-location icon-newuser"></i>
    <em class="vm">姓名：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap">
      <input type="text" class="input form-control" id="name" name="name" required placeholder="请输入姓名">
    </div>
  </div>
</div>

<div class="row clearfix">
  <label for="province" class="control-label column col1 fl">
    <i class="icon-location icon-newphone"></i>
    <em class="vm">联系电话：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap">
      <input type="tel" class="input form-control" id="mobile" name="mobile" required placeholder="请输入联系电话" maxlength="11">
    </div>
  </div>
</div>

<div class="row clearfix">
  <label for="province" class="control-label column col1 fl">
    <i class="icon-location"></i>
    <em class="vm">所在城市：</em></label>
  <div class="col2 selectWrap rel">
    <div class="fieldWrap">
      <select class="form-control" name="city">
        </select>
    </div>
  </div>
</div>

<div class="row clearfix">
  <label for="courseType" class="control-label column col1 fl">
    <i class="icon-location icon-book"></i>
    <em class="vm">高考科目：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap">
      <label for="courseType_1"  class="label_radio inline">
      <em class="icon-radio"></em>
      <input type="radio" class="input form-control" id="courseType_1" name="courseType" checked value="1" required>
      <em class="vm">理科</em>
      </label>

      <label for="courseType_0" class="label_radio inline">
      <em class="icon-radio"></em>
      <input type="radio" class="input form-control" id="courseType_0" name="courseType" value="0" required>
      <em class="vm">文科</em>
      </label>
    </div>
  </div>
</div>

<div class="row clearfix inline">
  <label for="score" class="control-label column col1 fl">
    <i class="icon-location icon-fenshu"></i>
    <em class="vm">高考分数：</em></label>
  <div class="col2 inputWrap rel">
    <span class="fieldWrap db">
      <input type="text" class="input form-control dib" id="score" name="score" placeholder="请输入高考分数(分)" pattern="^[0-9]{1,3}" required>
    </span>
  </div>
</div>

<div class="row clearfix bookRow">
  <label for="bookType" class="control-label column col1 fl">
    <i class="icon-location icon-txt"></i>
    <em class="vm">预约内容：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap bookCnt">
      <label for="bookType_1"  class="label_radio inline clearfix">
      <em class="icon-radio c1"></em>
      <input type="radio" class="input form-control" id="bookType_1" name="bookType" checked value="1" required>
      <em class="vm appointmentDesc">专家线上服务</em>
      </label>

      <label for="bookType_0" class="label_radio inline last clearfix">
      <em class="icon-radio c1"></em>
      <input type="radio" value="0" class="input form-control" id="bookType_0" name="bookType" required>
      <em class="vm appointmentDesc">专家面对面服务</em>
      </label>
    </div>
  </div>
</div>

<div class="row clearfix">
  <label for="booktime" class="control-label column col1 fl">
    <i class="icon-location icon-time"></i>
    <em class="vm">预约时间：</em></label>
  <div class="col2 inputWrap rel">
    <div class="fieldWrap">
      <input type="text" class="input form-control" id="booktime" name="booktime" required placeholder="预约时间">
    </div>
  </div>
</div>

<!-- <div class="row clearfix inline">
   <textarea class="form-control" placeholder="请填写预约内容" name="content" rows="3" required></textarea>
</div> -->

<div class="footerCnt">
  <div class="row btnRow tc">
    <button type="submit" class="btn btn-positive btn-form" id="verifyBtn">
        <em class="subTxt">提&nbsp;交</em>
    </button>
  </div>

</div>

</form>
</div>